.books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.books-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;

    &:last-child {
        margin-bottom: 20px;
    }

    .title {
        font-size: $font-head2;
        font-weight: bold;
        font-family: $font-alt;
        margin-bottom: 10px;
    }

    .author {
        font-family: $font-cursive;
        font-size: $font-head1;
        margin-bottom: 10px;
    }

    .numbers {
        font-size: $font-subhead1;
        font-family: $font-base;
        margin-bottom: 10px;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .edit-button,
        .delete-button {
            background-color: #fff;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}

.add-book-button,
.rent-button {

    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.none {
    border: none;
    background-color: transparent;
    margin-bottom: 5dvh;
    margin-top: 5dvh;
}

@media (max-width: $breakpoint-smartphone) {
    .books-container {
       .book {
        max-width: 75dvw;
       }

       .title {
        font-size: $font-subhead2;
       }
    }
}