$font-base: 'Heebo', sans-serif;
$font-alt: 'Orbitron', sans-serif;
$font-cursive: 'Edu TAS Beginner', cursive;


$font-head1: 28px;
$font-head2: 24px;
$font-head3: 22px;
$font-head4: 20px;
$font-subhead1: 18px;
$font-subhead2: 14px;
$font-general: 12px;
$font-typical: 10px;